* {
  box-sizing: border-box;
  margin: 0 auto;
  color: #5A0;
  background-color: #DFA;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}



.App {
  text-align: center;
  height: 100vh;
  max-width: 1000px;
  padding: 40px;
  background-color: #DFA;

}

.App-header {
  height: 50px;
  padding: 10px;
  color: #5A0;
  background-color: #DFA;
  font-size: 18px;
  text-align: center;
  font-size: 3rem;
}

