.NavBar-container {
  background-color: #5a0;
  border-radius: 15px;
  width: 400px;
  font-size: 1.2rem;
}

.NavBar-link {
  color: #dfa;
}

.NavBar-link:hover {
  color: white;
  text-decoration: line-through;
}
